{% load sponsors_tags %}
{% load thumbnail %}

<section class="sponsors">
    <header></header>
    <div id="sponsor-slideshow">
    {% sponsors "producer" as sponsors %}
    {% if sponsors %}
    <section title="Produced By">
        <div class="row">
        {% for sponsor in sponsors %}
        {% if forloop.counter|divisibleby:5 %}</div>
        <div class="row">{% endif %}
            <article class="sponsor">
                <a href="{{ sponsor.external_url }}">
                    {% thumbnail sponsor.website_logo "180x140" as im %}<img src="{{ im.url }}" alt="{{ sponsor.name }}"/>{% endthumbnail %}
                    <p>{{ sponsor.name }}</p>
                </a>
                <span class="sponsor-level">Produced By</span>
            </article>
        {% endfor %}
        </div>
    </section>
    {% endif %}
    
    {% sponsors "kryptonite" as sponsors %}
    {% if sponsors %}
    <section title="Kryptonite Sponsors">
        <div class="row">
        {% for sponsor in sponsors %}
        {% if forloop.counter|divisibleby:5 %}</div>
        <div class="row">{% endif %}
            <article class="sponsor">
                <a href="{{ sponsor.external_url }}">
                    {% thumbnail sponsor.website_logo "180x140" as im %}<img src="{{ im.url }}" alt="{{ sponsor.name }}"/>{% endthumbnail %}
                </a>
                <span class="sponsor-level">Kryptonite</span>
            </article>
        {% endfor %}
        </div>
    </section>
    {% endif %}
    
    {% sponsors "diamond" as sponsors %}
    {% if sponsors %}
    <section title="Diamond Sponsors">
        <div class="row">
        {% for sponsor in sponsors %}
        {% if forloop.counter|divisibleby:5 %}</div>
        <div class="row">{% endif %}
            <article class="sponsor">
                <a href="{{ sponsor.external_url }}">
                    {% thumbnail sponsor.website_logo "180x140" as im %}<img src="{{ im.url }}" alt="{{ sponsor.name }}"/>{% endthumbnail %}
                </a>
                <span class="sponsor-level">Diamond</span>
            </article>
        {% endfor %}
        </div>
    </section>
    {% endif %}
    
    {% sponsors "platinum" as sponsors %}
    {% if sponsors %}
    <section title="Platinum Sponsors">
        <div class="row">
        {% for sponsor in sponsors %}
        {% if forloop.counter|divisibleby:5 %}</div>
        <div class="row">{% endif %}
            <article class="sponsor">
                <a href="{{ sponsor.external_url }}">
                    {% thumbnail sponsor.website_logo "180x140" as im %}<img src="{{ im.url }}" alt="{{ sponsor.name }}"/>{% endthumbnail %}
                </a>
                <span class="sponsor-level">Platinum</span>
            </article>
        {% endfor %}
        </div>
    </section>
    {% endif %}
    
    {% sponsors "gold" as sponsors %}
    {% if sponsors %}
    <section title="Gold Sponsors">
        <div class="row">
        {% for sponsor in sponsors %}
        {% if forloop.counter|divisibleby:5 %}</div>
        <div class="row">{% endif %}
            <article class="sponsor">
                <a href="{{ sponsor.external_url }}">
                    {% thumbnail sponsor.website_logo "180x140" as im %}<img src="{{ im.url }}" alt="{{ sponsor.name }}"/>{% endthumbnail %}
                </a>
                <span class="sponsor-level">Gold</span>
            </article>
        {% endfor %}
        </div>
    </section>
    {% endif %}
    
    {% sponsors "sprint" as sponsors %}
    {% if sponsors %}
    <section title="Sprint Sponsors">
        <div class="row">
        {% for sponsor in sponsors %}
        {% if forloop.counter|divisibleby:5 %}</div>
        <div class="row">{% endif %}
            <article class="sponsor">
                <a href="{{ sponsor.external_url }}">
                    {% thumbnail sponsor.website_logo "180x140" as im %}<img src="{{ im.url }}" alt="{{ sponsor.name }}"/>{% endthumbnail %}
                </a>
                <span class="sponsor-level">Sprint</span>
            </article>
        {% endfor %}
        </div>
    </section>
    {% endif %}
    
    {% sponsors "media" as sponsors %}
    {% if sponsors %}
    <section title="Media Sponsors">
        <div class="row">
        {% for sponsor in sponsors %}
        {% if forloop.counter|divisibleby:5 %}</div>
        <div class="row">{% endif %}
            <article class="sponsor">
                <a href="{{ sponsor.external_url }}">
                    {% thumbnail sponsor.website_logo "180x140" as im %}<img src="{{ im.url }}" alt="{{ sponsor.name }}"/>{% endthumbnail %}
                </a>
                <span class="sponsor-level">Media</span>
            </article>
        {% endfor %}
        </div>
    </section>
    {% endif %}
    </div>
    <footer id="sponsor-links">
        <a href="/sponsors/">View Full List of Sponsors</a> 
        <a href="/sponsorship/">Sponsorship Opportunities</a>
    </footer>
</section>
