{% extends "site_base.html" %}

{% load i18n %}
{% load boxes_tags %}
{% load biblion_tags %}

{% block body_class %}home{% endblock %}

{% block tagline %}
    <section id="tagline">
        <h1>Join us at the <strong>Hyatt Regency Crystal City, Washington D.C.</strong></h1>
    </section>
    <div id="date_blocks">
        <div class="dateblock" id="tutorials_dateblock">
            <h2>Tutorials</h2>
            <h3>Sept. 3<sup>rd</sup></h3>
        </div>
        <div class="dateblock" id="talks_dateblock">
            <h2>Conference</h2>
            <h3>Sept. 4<sup>th</sup>&ndash;6<sup>th</sup></h3>
        </div>
        <div class="dateblock" id="sprints_dateblock">
            <h2>Sprints</h2>
            <h3>Sept. 7<sup>th</sup>&ndash;9<sup>th</sup></h3>
        </div>
    </div>
{% endblock %}

{% block body %}
    <section class="box first">
    {# {% box "tickets" %} this thing doesn't work for some reason #}
        <h2>Talk Submission Opening Soon!</h2>
        <p>We plan on opening talk submissions shortly so stay tuned.</p>
    </section>
    <section class="box">
    {# {% box "sponsors" %}this thing doesn't work for some reason #}
    <h2>Call for Sponsors!</h2>
    <p>Start receiving benefits from sponsorship right away.  Visit <a href="/sponsorship/">Sponsorship Opportunities</a> for more information.</p>
    </section>
    {% include "_sponsors.html" %}
    <hr />
    <section class="homepage_blog">
    <h1>Blog</h1>
        {% latest_blog_posts as posts %}
        {% if posts %}
            {% for post in posts %}
                {% include "biblion/_blog_post_tease_snippet.html" %}
            {% endfor %}
        {% else %}
            <p>No blog posts have been published.</p>
        {% endif %}
    </section>
{% endblock %}

{% block vignettes %}
    <section class="vignettes">
        {% for person in ponypeople %}
            <a class="framed" href="http://www.flickr.com/photos/bastispicks/sets/72157624936586134">
            <img width="265" height="199" src="{{ STATIC_URL }}img/people/{{ person }}.jpg"><p>by <em>Sebastian Hillig</em></p></a>
        {% endfor %}
    </section>
{% endblock %}

{% block extra_body_base %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/jquery.cycle.all.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.hoverIntent.minified.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/djangocon.js" type="text/javascript"></script>
{% endblock %}
