{% extends "theme_base.html" %}

{% load metron_tags compress i18n sponsors_tags thumbnail %}

{% block style_base %}
{% compress css %}  
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/djangocon.less">
{% endcompress %}
{% endblock %}

{% block extra_head_base %}
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png">
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block account_bar %}{% endblock %}

{% block topbar_base %}
<header id="site_header">
        <h1><a href="/">DjangoCon US 2012 - Washington, DC</a></h1>
        {% include "_account_bar.html" %}
        <nav id="site_nav">
            {% include "_nav.html" %}
        </nav>
</header>
{% block tagline %}{% endblock %}
{% endblock %}

{% block body_base %}
<section id="main_content">
{% block page_header %}{% endblock %}
{% block main_content %}
        {% include "_messages.html" %}
        {% block body %}{% block content %}{% endblock %}{% endblock %}
{% endblock %}
</section>
{% endblock %}

{% block footer %}
    <hr />
    <footer id="page_footer">
        {% block sponsor_list %}
        {% sponsors "*" as sponsors %}
        {% if sponsors %}
            <section id="page_sponsors">
                <h3>Sponsors</h3>
                <div>
                {% for sponsor in sponsors %}
                {% if forloop.counter|divisibleby:9 %}</div><div>{% endif %}
                    <a href="{{ sponsor.external_url }}">{% thumbnail sponsor.website_logo "112x70" as im %}<img src="{{ im.url }}" alt="{{ sponsor.name }}"/>{% endthumbnail %}</a>
                {% endfor %}
                </div>
            </section>
        {% endif %}
        <hr />
        {% endblock %}
        {% include "_footer.html" %}
    </footer>
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
