{% extends "site_base.html" %}

{% load i18n %}

{% block page_header %}
<h1>{% block head_title %}{% endblock %}</h1>
{% endblock %}

{% block main_content %}
    <div class="container">
        {% include "_messages.html" %}
        <div class="row">
            <div class="span3 columns">
                {% block subnav %}
                {% endblock %}
            </div>
            <div class="span8 offset1 columns">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
