{% extends "site_base.html" %}
{% load sponsors_tags %}

{% block head_title %}{{ flatpage.title }}{% endblock %}

{% block body %}
    <header>
        <h1>{{ flatpage.title }}</h1>
    </header>
    <div>{{ flatpage.content }}</div>
    <section id="sponsor_list">
        {% sponsors "kryptonite" as sponsors %}
            {% include "flatpages/_sponsor.html" %}
        {% sponsors "diamond" as sponsors %}
            {% include "flatpages/_sponsor.html" %}
        {% sponsors "platinum" as sponsors %}
            {% include "flatpages/_sponsor.html" %}
        {% sponsors "gold" as sponsors %}
            {% include "flatpages/_sponsor.html" %}
        {% sponsors "sprint" as sponsors %}
            {% include "flatpages/_sponsor.html" %}
        {% sponsors "media" as sponsors %}
            {% include "flatpages/_sponsor.html" %}
        {% sponsors "producer" as sponsors %}
            {% include "flatpages/_sponsor.html" %}
    </section>
{% block vignettes %}{% endblock %}

{% endblock %}
