{% extends "site_base.html" %}

{% block body_class %}full review{% endblock %}

{% block extra_head %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/dataTables.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/TableTools.css" />
{% endblock %}

{% block body %}
<header>
<h1>Review</h1>
</header>
<div class="row">
    <div class="span3 columns">
        {% block extra_sidebar %}{% endblock %}
        <ul class="nav nav-list">
            <li class="nav-header">Reviews</li>
            <li><a href="{% url review_list %}">All Reviews</a></li>
            <li><a href="{% url review_list_user user.username %}">Your Reviews</a></li>
            <li><a href="{% url review_stats %}">Stats</a></li>
        {% if is_reviewer_tutorials %}
            <li><a href="{% url review_tutorial_list %}">All Tutorial Reviews</a></li>
            <li><a href="{% url review_tutorial_list_user user.username %}">Your Tutorial Reviews</a></li>
        {% endif %}
        {% if is_reviewer_admin %}
            <li><a href="{% url review_admin %}">Admin</a></li>
        {% endif %}
        </ul>
    </div>

    <div id="review-content" class="span9 columns">
        {% block primary %}{% endblock %}
    </div>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $("table.review").dataTable({
                "bStateSave": true
            });
        });
    </script>
{% endblock %}
