{% extends "review/base.html" %}

{% load bootstrap_tags %}

{% block primary %}
        <div class="result-box {{ proposal.result.get_accepted_display }} mod">
            <h2 class="proposal-title">Proposal #{{ proposal.number }}: {{ proposal.title }}</h2>
            <div class="result-content">
              <h6><strong>Current status:</strong> <span>{{ proposal.result.get_accepted_display }}</span></h6>
            {% if is_reviewer_admin %}
                <form class="result-form" method="POST" action="">
                    {% csrf_token %}
                    {% if proposal.result.get_accepted_display == "accepted" %}
                        <input type="submit" name="result_submit" value="reject" class="reject btn" />
                        <input type="submit" name="result_submit" value="undecide" class="undecide btn" />
                    {% else %}
                        {% if proposal.result.get_accepted_display == "rejected" %}
                            <input type="submit" name="result_submit" value="accept" class="accept btn" />
                            <input type="submit" name="result_submit" value="undecide" class="undecide btn" />
                        {% else %}
                            <input type="submit" name="result_submit" value="accept" class="accept btn" />
                            <input type="submit" name="result_submit" value="reject" class="reject btn" />
                        {% endif %}
                    {% endif %}
                </form>
            {% endif %}

            </div>
        </div>

        {% if proposal.cancelled %}
            <p class="cancelled">Cancelled</p>
        {% endif %}

        <p><strong>Description</strong>:<br />
        {{ proposal.description }}</p>

        <p><b>Kind</b>: {{ proposal.kind.name }}</p>

        <div><b>Abstract:</b><br />
          <div class="proposal-markdown">{{ proposal.abstract|safe }}</div>
        </div>

        <p><b>Audience level:</b> {{ proposal.get_audience_level_display }}</p>

        <p><b>Category:</b> {{ proposal.category.name }}</p>

        <p><b>Duration:</b> 40 min</p>

        <p><b>Submitting speaker:</b> {{ proposal.speaker }}</p>

        <div><b>About speaker:</b><br />
        {{ proposal.speaker.biography|safe }}</div>

    {% if proposal.additional_speakers.all %}
        <p><b>Additional speakers</b>:
        {% for speaker in proposal.additional_speakers.all %}<br />
            {% if speaker.user %}
            <b>{{ speaker.name }}</b> &mdash; {{ speaker.email }}
            {% else %}
            {{ speaker.email }} &mdash; pending invitation
            {% endif %}
        {% endfor %}
        </p>
    {% endif %}
        
    {% if request.user == proposal.speaker.user %}
    <div><b>Additional Notes <span>(private from submitter)</span>:</b><br />
      <div>{{ proposal.additional_notes }}</div>
    </div>
    {% endif %}

    {% if is_reviewer_admin or not proposal.invited %}
      <div>
        <h3>Votes</h3>
        <table class="votes-box {{ latest_vote.css_class }} mod">
          <tr>
            <td>+1 vote{{ proposal.plus_one|pluralize }}</td>
            <td>+0 vote{{ proposal.plus_zero|pluralize }}</td>
            <td>-0 vote{{ proposal.minus_zero|pluralize }}</td>
            <td>-1 vote{{ proposal.minus_one|pluralize }}</td>
            <td>response{{ proposal.total_votes|pluralize }}</td>
          </tr>
          <tr>
            <td class="vote-count-box plus-one-box">
                <div class="number">{{ proposal.plus_one }}</div>
            </td>
            <td class="vote-count-box plus-zero-box">
                <div class="number">{{ proposal.plus_zero }}</div>
            </td>
            <td class="vote-count-box minus-zero-box">
                <div class="number">{{ proposal.minus_zero }}</div>
            </td>
            <td class="vote-count-box minus-one-box">
                <div class="number">{{ proposal.minus_one }}</div>
            </td>
            <td class="vote-count-box total">
                <div class="number"><b>{{ proposal.total_votes }}</b></div>
            </td>
          </tr>
        </table>
      </div>
        {% if reviews %}
            <h3>Review Comments</h3>
            {% for review in reviews %}
                <div class="review-box">
                    <div class="dateline">
                        <b>{{ review.user }}</b> {{ review.submitted_at|timesince }} ago
                        {% if is_reviewer_admin %}<form method="POST" action="{% url review_delete review.pk %}" class="delete-comment">{% csrf_token %}<input type="submit" value="delete" /></form>{% endif %}
                    </div>
                    <div class="vote">Vote: <b>{{ review.vote }}</b></div>
                    <div class="comment">{{ review.comment|safe }}</div>                    
                </div>
                <div class="clear"></div>
            {% endfor %}
        {% endif %}

        <h3>Vote and Comment</h3>

        <p>Enter your vote and any comment to go along with it. You can revise your vote or comment multiple times with an existing vote (your previously recorded score will be replaced during calculations). <b>Your vote and comments are not public and will only be viewable by other reviewers.</b></p>


        {% if review_form %}
            <form method="POST" action="" class="uniForm">
                {% csrf_token %}
                <fieldset>
                    {{ review_form }}
                    <div class="form_block">
                        <input class="btn" type="submit" name="vote_submit" value="submit" />
                    </div>
                </fieldset>
            </form>
        {% else %}
            <p>You do not have permission to vote on this proposal.</p>
        {% endif %}

    {% if proposal.messages.all %}
    <div><h3>Conversation with Reviewers</h3>
      <ul id="review-box">
      {% for message in proposal.messages.all %}
        <li>
            <div class="dateline"><b>{{ message.user }}</b> {{ message.submitted_at|timesince }} ago</div>
            {{ message.message|urlize }}
        </li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}

        <div class="spacer"></div>
        <h3>Leave a Message</h3>

        <p>You can leave a message for the proposer, <b>who will be notified through email and given the chance to respond to your comments</b>.</p>

        <form action="" method="POST" class="uniForm" accept-charset="utf-8">
            {% csrf_token %}
            <fieldset>
                {{ message_form|as_bootstrap }}
                <div class="form_block">
                    <input class="btn" type="submit" name="message_submit" value="submit" />
                </div>
            </fieldset>
        </form>
    {% endif %}
{% endblock %}
