{% extends "schedule/base.html" %}

{% load schedule_tags %}

{% block head_title %}Conference Schedule{% endblock %}

{% block primary %}
<h2>Conference Schedule</h1>
        {% if user.is_authenticated %}
            <div>Click <img src="{{ STATIC_URL }}img/star.png" /> to bookmark</div>
            <div>Download your bookmarks ( <a href="{% url schedule_user_bookmarks request.user.id user_hash %}">iCalendar</a> )</div>
        {% else %}
            <div><a href="{% url acct_login %}?next={{ request.path }}">Log in</a> to be able to bookmark talks and panels that interest you</div>
        {% endif %}
    {% csrf_token %}
    
    {% schedule_cache %}
        <h2>Tuesday</h2>
        
        {% with tuesday as day %}{% include "schedule/_grid_draft.html" %}{% endwith %}
        
        <h2>Wednesday</h2>
        
        {% with wednesday as day %}{% include "schedule/_grid_draft.html" %}{% endwith %}
        
        <h2>Thursday</h2>
        
        {% with thursday as day %}{% include "schedule/_grid_draft.html" %}{% endwith %}
    {% endschedule_cache %}
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".slot .bookmark > a").live("click", function() {
                divElem = $(this).parent();
                $.ajax({
                    type: "POST",
                    url: this.href,
                    data: "action=add;csrfmiddlewaretoken={{ csrf_token }}",
                    success: function() {
                        divElem.removeClass("bookmark");
                        divElem.addClass("bookmarked");
                        divElem.parent().parent().addClass("bookmarked");
                    },
                    error: function(xhr, options, error) {
                        alert(xhr.status);
                    }
                });
                return false;
            });
            $(".slot .bookmarked > a").live("click", function() {
                divElem = $(this).parent();
                $.ajax({
                    type: "POST",
                    url: this.href,
                    data: "action=delete;csrfmiddlewaretoken={{ csrf_token }}",
                    success: function(response) {
                        divElem.removeClass("bookmarked");
                        divElem.addClass("bookmark");
                        divElem.parent().parent().removeClass("bookmarked");
                    },
                    error: function(xhr, options, error) {
                        alert(xhr.status);
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}
