{% load theme_tags %}
{% load timezone_filters %}
<table class="conference-table">
    <tr class="track-header">
        <th>&nbsp;</th>
        {% for track in day.tracks %}
            <th>{{ track.name }}</th>
        {% endfor %}
    </tr>
    {% for row in day %}
        {% if row.slots %}
        <tr>
            <td class="time">{{ row.time|localtime:timezone|date:"h:iA" }}</td>
            {% for slot in row.slots %}
                <td colspan="{{ row.colspan }}" rowspan="{{ slot.rowspan }}" class="slot {{ slot.kind.name }} rowspan-{{ slot.rowspan }} colspan-{{ row.colspan }}{% if slot.bookmarked %} bookmarked{% endif %}">
                    {% if slot.kind.name == "recess" %}
                        <div class="title">{{ slot.title }}</div>
                    {% else %}
                        {% if slot.kind.name == "plenary" %}
                            <div class="title">{{ slot.title }}</div>
                            {% if slot.content.speaker %}
                                <div class="speaker">{{ slot.content.speaker }}</div>
                            {% endif %}
                        {% else %}
                            {% if slot.content.invited %}
                                    <div class="badge invited">I</div>
                            {% endif %}
                            {% if user.is_authenticated %}
                                {% if slot.content %}
                                <a class="{% if not slot.bookmarked %}bookmark{% else %}bookmarked{% endif %}" href="{% url schedule_user_slot_manage slot.content.id %}">&nbsp;</a>
                                {% endif %}
                            {% endif %}
                            {% if slot.content %}
                                {% if slot.content.speaker %}
                                    <div class="speaker">{{ slot.content.speaker }}</div>
                                {% endif %}                            
                                <div class="title"><a href="{% url schedule_presentation slot.content.pk %}">{{ slot.content.title }}</a></div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            {% endfor %}
          </tr>
          {% endif %}
    {% endfor %}
</table>
