{% extends "site_base.html" %}

{% block body_class %}full schedule{% endblock %}

{% block subnav %}
{% endblock %}

{% block right %}{% endblock %}

{% block body %}
<header>
<h1>Schedule</h1>
</header>
<div class="row">
    <div class="span3 columns">
        {% block extra_sidebar %}{% endblock %}
        <ul class="nav nav-list">
            <li class="nav-header">Schedule</li>
            <li><a href="{% url schedule_conference %}" id="l-schedule">Conference Schedule</a></li>                        
            <li><a href="{% url schedule_tutorials %}">Tutorial Schedule</a></li>
            {% block nav_list_extra %}{% endblock %}
        </ul>
    </div>

    <div id="proposal-content" class="span9 columns">
        {% block primary %}{% block content %}{% endblock %}{% endblock %}
    </div>
</div>
{% endblock %}

