{% extends "schedule/base.html" %}

{% load timezone_filters %}

{% block body_class %}wiki{% endblock body_class %}

{% block primary %}
<h2>Tutorials Schedule</h2>
            <h3>Tuesday, Sept. 3rd</h3>
            
            <p>Morning ({{ tutorials.tue.morning.slot.0|localtime:timezone|time }} &ndash; {{ tutorials.tue.morning.slot.1|localtime:timezone|time }})</p>
            
            {% for presentation in tutorials.tue.morning.presentations %}
                {% include "schedule/_presentation.html" %}
            {% endfor %}
            
            <p>Afternoon ({{ tutorials.tue.afternoon.slot.0|localtime:timezone|time }} &ndash; {{ tutorials.tue.afternoon.slot.1|localtime:timezone|time }})</p>
            
            {% for presentation in tutorials.tue.afternoon.presentations %}
                {% include "schedule/_presentation.html" %}
            {% endfor %}
            
{% endblock %}
