{% extends "site_base.html" %}

{% load i18n %}
{% load boxes_tags static %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<div class="container">
<div id="homepage">
<section class="row-fluid">
  <div id="blog" class="span5">
    {% load newscenter_tags %}
    {% get_news "blog" %}
    <h2><a href="{{ newsroom.get_absolute_url }}">Latest News</a></h2>
    <div id="blog-articles">
    {% for release in featured_list %}
    <article>
    <h3><a href="{{ release.get_absolute_url }}">{{ release.title }}</a></h3>
    <p class="teaser">{{ release.teaser }}<br />
      <a href="{{ release.get_absolute_url }}">Read more</a></p>
    </article>
    {% endfor %}
    </div>
  </div>

  <div id="sponsors" class="span7">
  {% load sponsorship_tags %}
  {% load thumbnail %}
  {% sponsors as sponsors %}
    <h2><a href="{% url sponsor_list %}">Sponsors</a></h2>
    <div class="sponsor-list">
      <div class="group">
        {% for sponsor in sponsors|is_active %}
        <div class="sponsor">
          <a href="{{ sponsor.external_url }}"><img src="{% thumbnail sponsor.website_logo '160x120' crop='smart' %}" alt="{{ sponsor.name }}" /></a>
          <p>{{ sponsor.level }}</p>
        </div>
        {% if forloop.counter|divisibleby:"6" and not forloop.last %}</div><div class="group">{% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
</section>

{% comment %}
<section id="register"><h2>Register</h2>{% box "register" %}</section>
<section id="schedule"><h2>Schedule</h2>{% box "schedule" %}</section>
<section id="venue"><h2>Venue</h2>{% box "venue" %}</section>
<section id="lightning-talks"><h2>Lightning Talks</h2>{% box "lightning-talks" %}</section>
<section id="sprints"><h2>Sprints</h2>{% box "sprints" %}</section>
<section id="open-spaces"><h2>Open Spaces</h2>{% box "open-spaces" %}</section>
<section id="about"><h2>About</h2>{% box "about" %}</section>
<section id="tutorials"><h2>Tutorials</h2>{% box "tutorials" %}</section>
<section id="credits"><h2>Credits</h2>{% box "credits" %}</section>
{% endcomment %}

</div>
</div>
{% endblock %}

{% block extra_script %}
  <script src="{% static "js/jquery.carouFredSel-6.2.0-packed.js" %}"></script>
  {% comment %}
  <script src="{% static "js/jquery.ba-throttle-debounce.js" %}"></script>
  <script src="{% static "js/scrollToTop.js" %}"></script>
  {% endcomment %}
  <script>
  $(document).ready(function(){
/*
    $("#homepage section").each(function(){
        if($(this).height() < $(window).height()){
            $(this).height($(window).height());
        }
    });
           
    ScrollToTop.init(function(){
        if(window.location.hash.length > 1){
            $(window).trigger('hashchange');
        }
    });
*/
    $(".sponsor-list").carouFredSel({
        responsive: true,
        auto: 6000,
        items: {
            visible: 1
        },
        swipe: {
            onMouse: true,
            onTouch: true
        },
        scroll: {
            fx: "fade",
            duration: 800,
            pauseOnHover: true
        }
    });        
  });
  </script>
{% endblock %}

