{% extends "symposion_sidebar_base.html" %}

{% load metron_tags %}
{% load i18n %}
{% load sitetree %}
{% load markitup_tags %}
{% load static %}
{% load compress %}

{% block body_id %}djangocon{# Oh symposion, why do you make me set this? #}{% endblock %}

{% block viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{% endblock %}

{% block head_title %}{% block title %}{% endblock %}{% endblock %}

{% block style_base %}
    {% compress css %}  
    <link type="text/css" href="{% static "symposion/css/symposion.css" %}" rel="stylesheet">
    <link type="text/less" href="{% static "css/djangocon.less" %}" rel="stylesheet">
    {% endcompress %}
    {% block extra_style %}{% endblock %}
{% endblock %}

{% block extra_head_base %}

    <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}js/respond.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/ielt9.css">
    <![endif]-->

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" />
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/logo-final-icon.png" />
    <script src="{% block jquery_src %}{% static "pinax/js/jquery.js" %}{% endblock %}"></script>
    {% markitup_media "no-jquery" %}
    {% block extra_head %}{% endblock %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32634644-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>    
{% endblock %}

{% block topbar_base %}
        <header id="masthead">
            <h1><a href="{% url home %}"><img src="{{ STATIC_URL }}img/logo-final.png" alt="{{ SITE_NAME }}"></a></h1>
            <h2>September 2-7, 2013</h2>
        
            <ul class="nav">
              {% sitetree_tree from "main_nav" template "sitetrees/main_nav.html" %}
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
                <ul class="dropdown-menu">            
              {% if not request.user.is_authenticated %}
                <li><a href="{% url account_login %}">Log in</a></li>
                <li><a href="{% url account_signup %}">Sign up</a></li>
              {% else %}
                <li><a href="{% url dashboard %}">Dashboard</a></li>
                <li><a href="{% url account_settings %}">Settings</a></li>
                {% if request.user.is_staff %}
                  <li><a href="{% url admin:index %}">Admin</a></li>
                {% endif %}
                <li><a id="logout_link" href="{% url account_logout %}" data-form-submit="#account_logout_form">Log out</a>
                <form id="account_logout_form" class="hide" action="{% url account_logout %}" method="post">{% csrf_token %}</form>
                </li>
                {% endif %}
                  </ul>
                </li>
          </ul>
        </header>
{% endblock %}

{% block body_base %}
<div class="container">
  <section class="{% block section_class %}{% endblock %}">
  <div id="content">
    {% block page_title %}{% endblock %}
    {% block body_outer %}
      {% include "_messages.html" %}
        
      {# {% block breadcrumbs %} #}
          {# {% sitetree_breadcrumbs from "main" %} #}
      {# {% endblock %} #}
        
      {% block body %}
        {% block content_title %}{% endblock %}
        {% block content %}{% endblock %}
        {% block sidebar %}
          {% include "_default_sidebar.html" %}
        {% endblock %}                    
      {% endblock %}
    {% endblock %}
  </div>
  </section>
</div>
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block script_base %}
    {% analytics %}
    <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
    <script src="{% static "pinax/js/theme.js" %}"></script>
    <script src="{% static "js/djangocon.js" %}"></script>
    {% block extra_script %}{% endblock %}
{% endblock %}
