{% extends "speakers/base.html" %}

{% load timezone_filters %}
{% load thumbnail %}

{% block body_class %}speaker_profile{% endblock %}

{% block body %}
    <header>
    <h1>Speaker Profile</h2>
    <h2>{{ speaker.name }}</h2>
    </header>

    {% if speaker.photo %}{% thumbnail speaker.photo "140x140" crop="center" as im %}<img class="framed" src="{{ im.url }}" alt="{{ speaker.name }}"/>{% endthumbnail %}{% endif %}
    
    <h2>Bio</h2>
    {{ speaker.biography|safe }}
        
    {% if sessions %}
        <h2>Sessions</h2>
        {% for session in sessions %}
        <p>{{ session.slot.start|localtime:timezone|date:"F jS" }}, {{ session.slot.start|localtime:timezone|date:"P" }} &ndash; {{ session.slot.end|localtime:timezone|date:"P" }}<br /><a href="{% url schedule_presentation session.id %}">{{ session.title }}</a></p>
        {% endfor %}
    {% endif %}
{% endblock %}
