{% extends "proposals/base.html" %}

{% load bootstrap_tags markitup_tags %}

{% block extra_head %}
    {% markitup_media %}
{% endblock %}

{% block primary %}
    <h2>Edit: {{ proposal.title }}</h2>
    
    <p><a href="{% url proposal_speaker_manage proposal.pk %}">Manage speakers</a></p>
    
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            {{ form|as_bootstrap }}
        </fieldset>
        <div class="actions">
            <button type="submit" value="save" class="btn primary">Save</button>
        </div>
    </form>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
    $(function() {
        $("#id_title").focus();
    });
    </script>
{% endblock %}




