{% extends "proposals/base.html" %}

{% load bootstrap_tags %}

{% block body %}
    <header>
        <h1>{{ proposal.title }}</h1>
        <p>
        {% if not proposal.cancelled %}
            {% if request.user == proposal.speaker.user %}
                <a href="{% url proposal_edit proposal.pk %}">Edit</a>
                | <a href="{% url proposal_cancel proposal.pk %}">Cancel</a>
            {% else %}
                <a href="{% url proposal_leave proposal.pk %}">Leave</a>
            {% endif %}
        {% else %}
            Cancelled
        {% endif %}
        </p>
    </header>

    <p><a href="{% url speaker_dashboard %}">Back to Speakers</a></p>

    <p><strong>Description</strong>:<br />
    {{ proposal.description }}</p>

    <p><b>Kind</b>: {{ proposal.kind.name }}</p>

    <p><b>Abstract:</b></p>    
    <div class="proposal-markdown offset2 span7">
      {{ proposal.abstract }}
    </div>
    
    <p><b>Audience level</b>: {{ proposal.get_audience_level_display }}</p>
    
    <p><b>Submitting speaker</b>: {{ proposal.speaker }}</p>
    
    {% if proposal.additional_speakers.all %}
        <p><b>Additional speakers</b>:
        {% for speaker in proposal.additional_speakers.all %}<br />
            {% if speaker.user %}
            <b>{{ speaker.name }}</b> &mdash; {{ speaker.email }}
            {% else %}
            {{ speaker.email }} &mdash; pending invitation
            {% endif %}
        {% endfor %}
        </p>
    {% endif %}
    
    {% if request.user == proposal.speaker.user and proposal.additional_notes %}
    <p><b>Additional Notes:</b></p>
    <div class="proposal-markdown offset2 span7"> 
      {{ proposal.additional_notes }}
    </div>
    {% endif %}
    

    {% if proposal.messages.all %} 
    <p><strong>Conversation with Reviewers</strong></p>
    <ul id="review-box">
    {% for message in proposal.messages.all %}
        <li>
            {{ message.message|striptags }}
            <div class="dateline"><b>{{ message.user }}</b> {{ message.submitted_at|timesince }} ago</div>
        </li>
    {% endfor %}
    </ul>
    {% endif %}

    
    <form action="" method="POST" accept-charset="utf-8">
        {% csrf_token %}
        <fieldset>
            <p>You can leave a message for the reviewers here.</p>
            {{ message_form|as_bootstrap }}
        </fieldset>
        <div class="actions">
            <button type="submit" name="message_submit" class="btn primary">Submit</button>
        </div>
    </form>
{% endblock %}
