{% extends "site_base.html" %}

{% block body_class %}full speaker{% endblock %}

{% block right %}{% endblock %}

{% block body %}
<header>
<h1>Proposals</h1>
</header>
<div class="row">
    <div class="span3 columns">
        {% block extra_sidebar %}{% endblock %}
        <ul class="nav nav-list">
            <li class="nav-header">Proposals</li>
            <li><a href="{% url speaker_dashboard %}">Speaker Dashboard</a></li>
            {% block nav_list_extra %}{% endblock %}
        </ul>
    </div>

    <div id="proposal-content" class="span9 columns">
        {% block primary %}{% block content %}{% endblock %}{% endblock %}
    </div>
</div>
{% endblock %}

